/* src/components/skills/skills.scss */
@use "../../app.scss" as *;
.skills-page {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.skill-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.skill-info p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Progress Bar Styling */
.progress-bar {
  background-color: #e0e0e0;
  /* Light gray for the background */
  border-radius: 5px;
  width: 100%;
  height: 10px;
  margin-top: 10px;
}

.progress {
  background-color: #7571e0;
  /* Green color for the filled portion */
  height: 100%;
  border-radius: 5px;
}